.disable-btn
{
    background: #00000015;
}
.greenText
{
    color: green;
    /* font-weight: bold; */
}

.redText
{
    color: red;
    /* font-weight: bold; */
}

.boldText
{
    font-weight: bold;
}


.display-none{
  display: none;
}